body {
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(15, 19, 35);
  color: rgb(148, 197, 237);
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5f7;
background-color: #e5e5f7;
opacity: 1;
background-image: linear-gradient(to right, #ffffff, #ffffff 20px, #e5e5f7 20px, #e5e5f7 );
background-size: 40px 100%;
}
.anggota, .satu,  .dua, .tiga {
  background: rgb(137, 167, 194);
  padding: 4px 8px;
  display: inline-block;
  border-radius: 9px;
}


.satu {
    font-size: 40px;
}
.dua {
    font-size: 40px;
}

.tiga {
    font-size: 40px;
}
.gambar-selection {
    word-spacing: 20px;
    align-items: center;;
}

img {
    width: 295px;

}

video {
    height: 500px;
    width: 500px;
    align-items: center;
}

.gambar {
    text-align: center;
}

.video {
    text-align:  center;
}