body {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;

 background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
              url('minecraft.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.anggota {
  background: #494848;
  color: rgb(255, 255, 255);
  padding: 8px 15px 8px 35px; 
  display: inline-block;
  border-radius: 10px;
}


.satu, .dua, .tiga {
  background-color: #00AA00;
  padding: 0px 15px;
  display: inline-block;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.satu img, .dua img, .tiga img {
    width: 150px;  /* sesuaikan */
    height: 60px;
}

.satu:hover, .dua:hover, .tiga:hover {
  background: #5a6fdc;
}

.gambar-selection {
  background-image: url('image.png');
  padding: 30px 20px 30px 20px;
  display: inline-block;
  border-radius: 9px;
  word-spacing: 20px;
}
.satu, .dua, .tiga {
    font-size: 40px;
}

img {
    width: 295px;
}

video {
    height: 500px;
    width: 500px;
    align-items: center;
}

.gambar {
  text-align: center;
  margin-bottom: 32px;
}

.gambar img { 
    margin-left: auto;
    margin-right: auto;
    display: none;
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.video {
  text-align: center;
}

.video video {
  margin-left: auto;
  margin-right: auto;
  display: none;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.video video.muncul {
  display: block;
  opacity: 1;
  transform: scale(1);
}

.gambar img.muncul {
    display: block;
    opacity: 1;
    transform: scale(1);
}

.video video {
  display: none;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.video video.muncul {
  display: block;
  opacity: 1;
  transform: scale(1);
}