body {
    font-weight: bold;
    body { 
     background: linear-gradient(260deg, #A7C7E7, #BFD8FF, #a6d0ef);
  height: 100vh;
  color: rgb(173, 46, 46);
  font-family: 'Poppins', sans-serif;
}
}

.satu {
    font-size: 40px;
}
.dua {
    font-size: 40px;
}

.tiga {
    font-size: 40px;
}
.gambar-selection {
    word-spacing: 20px;
}

img {
    width: 295px;

}

video {
    height: 325px;
}

.gambar {
    word-spacing: 100px;
}