body {
    font-weight: bold;
  color: rgb(7, 46, 242);
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5f7;
background-color: #e5e5f7;
opacity: 1;
background-image: linear-gradient(to right, #444cf7, #444cf7 20px, #e5e5f7 20px, #e5e5f7 );
background-size: 40px 100%;
}


.satu {
    font-size: 40px;
}
.dua {
    font-size: 40px;
}

.tiga {
    font-size: 40px;
}
.gambar-selection {
    word-spacing: 20px;
    align-items: center;;
}

img {
    width: 295px;

}

video {
    height: 500px;
    width: 500px;
    align-items: center;
}

.gambar {
    text-align: center;
}

.video {
    text-align:  center;
}